<!doctype html>
<html lang='en'>
{{ $vue := index .Data "vueGlue" }}
    <head>
        <meta charset='utf-8'>
        <title>Home - Vue Loader Test</title>
        {{ if $vue }}
            <script type="module" crossorigin src="{{ $vue.MainModule }}"></script>
            {{ range $vue.Imports }}
               <link rel="modulepreload" href="{{.}}">
            {{ end }}
            {{ range $vue.CSSModule }}
              <link rel="stylesheet" href="{{.}}">
            {{ end }}
        {{end }}
    </head>
    <body>
      <div class="container">
        <header>
            <h1>Embedding Vue 3 Apps Using Go</h1>
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
          <p>
          This webapp embeds Vue 3 components, and injects them into
          pages served by a simple golang web server.  Points in the
          DOM that get "decorated" by Vue are marked with the
          <code>data-entryp</code> attribute, which uses a key
          to indicate which component should get injected to that
          point in the DOM.
          </p>

        {{ if $vue }}
        <div id="app" data-entryp="app">
        </div>
            {{ end }}
        </main>
        </div>
    </body>
</html>
