<!doctype html>
<html lang='en'>
{{ $vue := index .Data "vueGlue" }}
    <head>
        <meta charset='utf-8'>
        <title>Home - Vue Loader Test</title>
        {{ if $vue }}
            <script type="module" crossorigin src="{{ $vue.MainModule }}"></script>
            {{ range $vue.Imports }}
               <link rel="modulepreload" href="{{.}}">
            {{ end }}
            {{ range $vue.CSSModule }}
              <link rel="stylesheet" href="{{.}}">
            {{ end }}
        {{end }}
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
            <h2>Latest Snippets</h2>
            <p>There's nothing to see here yet!</p>

            {{ if $vue }}
            <div id="app" data-entryp="app">
            </div>
            {{ end }}
        </main>
    </body>
</html>
